*.kdev4
.directory
build
CMakeFiles

ogre.cfg
plugins.cfg
plugins_d.cfg
resources.cfg

*.bin
*.dll
*.exe
*.log
*.o
*.zip
*.a
*.level.bak

*~*
.*.swp
.cppcheck
.cproject
.goutputstream-W829MV
.project
CMakeCache.txt
cmake_install.cmake
core*
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
Makefile
opendungeons
opendungeons.kdev4
opendungeons.desktop
ODscreenshot*
shaderCache
CMakeLists.txt.user
opendungeons.6
