# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=/home/buck/Code/OpenDungeons/Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=/home/buck/Code/OpenDungeons/Media
FileSystem=/home/buck/Code/OpenDungeons/Media/fonts
FileSystem=/home/buck/Code/OpenDungeons/Media/materials/programs
FileSystem=/home/buck/Code/OpenDungeons/Media/materials/scripts
FileSystem=/home/buck/Code/OpenDungeons/Media/materials/textures
FileSystem=/home/buck/Code/OpenDungeons/Media/models
FileSystem=/home/buck/Code/OpenDungeons/Media/overlays
FileSystem=/home/buck/Code/OpenDungeons/Media/particle
FileSystem=/home/buck/Code/OpenDungeons/Media/gui
FileSystem=/home/buck/Code/OpenDungeons/Media/DeferredShadingMedia
FileSystem=/home/buck/Code/OpenDungeons/Media/PCZAppMedia

#Zip=Media/packs/cubemap.zip
#Zip=Media/packs/cubemapsJS.zip
#Zip=Media/packs/dragon.zip
#Zip=Media/packs/fresneldemo.zip
#Zip=Media/packs/ogretestmap.zip
#Zip=Media/packs/skybox.zip

[Music]
FileSystem=/home/buck/Code/OpenDungeons/Media/music

[Sound]
FileSystem=/home/buck/Code/OpenDungeons/Media/sounds
