# Factions definition file.
# It defines which creatures can spawn through the portal per faction.
# Each Faction is defined with [Factions] [/Factions]
# within a [Faction] [/Faction] tag couple.

[Factions]
[Faction]
    Name	Keeper
    WorkerClass	Kobold
    [SpawnPool]
    # Tier1
    CaveHornet
    Spider
    Rat
    # Tier2
    Roach
    Goblin
    Cultist
    # Tier3
    LavaSpawn
    LizardMan
    DarkElf
    # Tier4
    Orc
    PitDemon
    Troll
    [/SpawnPool]
[/Faction]
[Faction]
    Name	Hero
    WorkerClass	DwarfWorker
    [SpawnPool]
    # Tier1
    Adventurer
    Slime
    Dwarf1
    # Tier2
    Monk
    Dwarf2
    Knight
    # Tier3
    Elf
    RunelordDwarf
    Wizard
    # Tier4
    NatureMonster
    Defender
    Scarab
    [/SpawnPool]
[/Faction]
[/Factions]
