# Skills configuration file.
# Skills configurable elements are defined within [Skills] [/Skills]
#
# Supported elements:
# roomArena                         (int)    Points needed for researching room arena
# roomBridgeStone                   (int)    Points needed for researching room stone bridge
# roomBridgeWooden                  (int)    Points needed for researching room wooden bridge
# roomCasino                        (int)    Points needed for researching room casino
# roomCrypt                         (int)    Points needed for researching room crypt
# roomPrison                        (int)    Points needed for researching room prison
# roomTorture                       (int)    Points needed for researching room torture
# roomTrainingHall                  (int)    Points needed for researching room training hall
# roomWorkshop                      (int)    Points needed for researching room Workshop
# trapCannon                        (int)    Points needed for researching trap cannon
# trapBoulder                       (int)    Points needed for researching trap boulder
# trapSpike                         (int)    Points needed for researching trap spike
# trapDoorWooden                    (int)    Points needed for researching wooden doors
# spellCallToWar                    (int)    Points needed for researching spell call to war
# spellCreatureDefense              (int)    Points needed for researching spell CreatureDefense
# spellCreatureExplosion            (int)    Points needed for researching spell CreatureExplosion
# spellCreatureHaste                (int)    Points needed for researching spell CreatureHaste
# spellCreatureHeal                 (int)    Points needed for researching spell CreatureHeal
# spellCreatureSlow                 (int)    Points needed for researching spell CreatureSlow
# spellCreatureStrength             (int)    Points needed for researching spell CreatureStrength
# spellCreatureWeak                 (int)    Points needed for researching spell CreatureWeak

[Skills]
    roomArena	300
    roomBridgeStone	250
    roomBridgeWooden	150
    roomCasino	225
    roomCrypt	150
    roomPrison	200
    roomTorture	275
    roomTrainingHall	100
    roomWorkshop	150
    trapCannon	200
    trapBoulder	250
    trapSpike	200
    trapDoorWooden	150
    spellCallToWar	150
    spellCreatureDefense	150
    spellCreatureExplosion	150
    spellCreatureHaste	200
    spellCreatureHeal	150
    spellCreatureSlow	200
    spellCreatureStrength	250
    spellCreatureWeak	250
[/Skills]
